.block {
  width: 100%;
  height: 150px;
  border: 1px solid gray;
  padding: 20px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  &__image{
    width: 100%;
    height: 100%;
    display: block;
  }

  &__footer {
    margin-top: 10px;
    text-align: right;

    button + button {
      margin-left: 20px;
    }
  }
}

