<div class="block">
  <div>{{blockInfo.title}}</div>
  <img src='assets/img/{{blockInfo.image}}' class="block__image" alt="">
  <div class="block__footer">
    <button (click)="toggleFavorite()"> {{blockInfo.isFavorite ? 'Убрать из избранного' : 'В избранное'}}</button>
    <button (click)="onDetailsClick()">Подробнее</button>
  </div>
</div>
