.main {
  margin: 0 auto;
  max-width: 1024px;
}

.types-list {
  list-style-type: none;
  padding-inline-start: 0;
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;

  li {
    width: 100px;
    height: 30px;
    line-height: 30px;
    border: 1px solid gray;
    text-align: center;
    cursor: pointer;

    &:hover {
      background: gray;
      color: white;
    }
    &.active {
      color: red;
    }
  }
}

.blocks-container {
  display: inline-block;
  vertical-align: top;

  width: 500px;
  height: 500px;
  border: 1px solid gray;
  overflow: auto;
  padding: 20px;

  &__block + &__block {
    margin-top: 20px;
  }
}
