
<div class="main">
    <ul class="types-list">
        <li *ngFor="let type of types" (click)="filterBlocks(type.id)"
            [ngClass]="{active: activeTypeId === type.id}">{{type.name}}</li>
    </ul>
    <div class="blocks-container" (scroll)="onContainerBlockScroll($event)">
        <div *ngFor="let block of showBlocks"
             class="blocks-container__block">
            <app-block [blockInfo]="block"
                       (detailsClick)="openBlockInModal(block)"></app-block>
        </div>
    </div>
</div>


<app-modal *ngIf="clickedBlock"
           [(visible)]="showModal"
           [title]="clickedBlock.title"
           [description]="clickedBlock.description">
</app-modal>
