.modal-container{
  width: 400px;
  height: 400px;
  border: 1px solid #707271;
  position: absolute;
  background: #fff;
  border-radius: 3px;
  padding: 20px;

  display: flex;
  flex-direction: column;

  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
  z-index: 2;
}

.modal {
  &:before {
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(128, 128, 128, 0.5);
    top: 0;
    right: 0;
  }
}

.title {
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}
.description {
  height: 100%;
}
.footer {
  margin-top: 20px;
  text-align: right;
}
