<div class="modal" *ngIf="visible">
  <div  class="modal-container">
    <div class="title">
      {{title}}
    </div>
    <div class="description">
      {{description}}
    </div>
    <div class="footer">
      <button (click)="onClose()">Закрыть</button>
    </div>
  </div>
</div>

